myphotos-remote-project/src/wsdl/ProfileService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://soap.myphotos.com/ws/ProfileService?wsdl"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="ProfileService" targetNamespace="http://soap.myphotos.com/ws/ProfileService?wsdl">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://soap.myphotos.com/ws/ProfileService?wsdl" elementFormDefault="unqualified"
                   targetNamespace="http://soap.myphotos.com/ws/ProfileService?wsdl" version="1.0">

            <xs:element name="findById" type="tns:findById"/>

            <xs:element name="findByIdResponse" type="tns:findByIdResponse"/>

            <xs:element name="findProfilePhotos" type="tns:findProfilePhotos"/>

            <xs:element name="findProfilePhotosResponse" type="tns:findProfilePhotosResponse"/>

            <xs:element name="profile" type="tns:profileSOAP"/>

            <xs:element name="profilePhoto" type="tns:profilePhotoSOAP"/>

            <xs:element name="profilePhotos" type="tns:profilePhotosSOAP"/>

            <xs:complexType name="findById">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                    <xs:element name="withPhotos" type="xs:boolean"/>
                    <xs:element name="limit" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="findByIdResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="profile" type="tns:profileSOAP"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="profileSOAP">
                <xs:sequence>
                    <xs:element minOccurs="0" name="avatarUrl" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstName" type="xs:string"/>
                    <xs:element minOccurs="0" name="jobTitle" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastName" type="xs:string"/>
                    <xs:element minOccurs="0" name="location" type="xs:string"/>
                    <xs:element name="photoCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="photos">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="photo"
                                            type="tns:profilePhotoSOAP"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="uid" type="xs:string"/>
                </xs:sequence>
                <xs:attribute name="id" type="xs:long" use="required"/>
            </xs:complexType>

            <xs:complexType name="profilePhotoSOAP">
                <xs:sequence>
                    <xs:element name="downloads" type="xs:long"/>
                    <xs:element minOccurs="0" name="smallUrl" type="xs:string"/>
                    <xs:element name="views" type="xs:long"/>
                </xs:sequence>
                <xs:attribute name="id" type="xs:long" use="required"/>
            </xs:complexType>

            <xs:complexType name="findProfilePhotos">
                <xs:sequence>
                    <xs:element minOccurs="0" name="profileId" type="xs:long"/>
                    <xs:element name="page" type="xs:int"/>
                    <xs:element name="limit" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="findProfilePhotosResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="profilePhotos" type="tns:profilePhotosSOAP"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="profilePhotosSOAP">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="photo" type="tns:profilePhotoSOAP"/>
                    <xs:element minOccurs="0" name="total" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="findProfilePhotos">
        <wsdl:part element="tns:findProfilePhotos" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="findProfilePhotosResponse">
        <wsdl:part element="tns:findProfilePhotosResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="findById">
        <wsdl:part element="tns:findById" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="findByIdResponse">
        <wsdl:part element="tns:findByIdResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ProfileWebService">
        <wsdl:operation name="findById">
            <wsdl:input message="tns:findById" name="findById">
            </wsdl:input>
            <wsdl:output message="tns:findByIdResponse" name="findByIdResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findProfilePhotos">
            <wsdl:input message="tns:findProfilePhotos" name="findProfilePhotos">
            </wsdl:input>
            <wsdl:output message="tns:findProfilePhotosResponse" name="findProfilePhotosResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProfileServiceSoapBinding" type="tns:ProfileWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="findById">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findById">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findByIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findProfilePhotos">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findProfilePhotos">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findProfilePhotosResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ProfileService">
        <wsdl:port binding="tns:ProfileServiceSoapBinding" name="ProfileServicePort">
            <soap:address location="http://soap.myphotos.com:80/ws/ProfileService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>